.combo-box {
  width: 650px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;

  .combo-tabs-box {
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    border-bottom: 1px solid lightgrey;

    .combo-tab {
      width: 50%;
      padding: 20px 0px;
      cursor: pointer;
    }

    .combo-tab:first-of-type {
      border-right: 1px solid lightgrey;
    }

    .combo-tab:not(.active) {
      color: rgba(#007bff, 0.95);
      background-color:rgba(52, 58, 64, 0.1);
    }

    .combo-tab:not(.active):hover {
      color: rgba(#0056b3, 0.95);
    }
  }

  .tab-content {
    padding: 40px;
  }
}