.btn-comment {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: white;
  line-height: .75rem;
  color: #069;
  cursor: pointer;
}

.btn-comment:hover {
  text-decoration: underline;
}

.comment-box {
  border: 1px solid grey;
  border-top-left-radius: 10px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 10px;
  background-color:rgba(0, 0, 255, 0.25);
  margin: 10px 0px;
  padding: 10px;

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  .comment-title {
    display: inline-block;
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color:rgba(255, 255, 255, 1.0);
    font-style: italic;
    padding: 5px;
  }
  
  .comment-body, .comment-body-unauth {
    border: 1px solid grey;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color:rgba(255, 255, 255, 1.0);
    font-style: italic;
    padding: 5px;
  }

  .comment-body-unauth {
    border-bottom-right-radius: 10px;
  }

  .comment-delete, .comment-edit {
    float: right;
    color: rgba($base-dark-color, 0.95);
    border-top: none;
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color:rgba(255, 255, 255, 1.0);
    
    transition: all 0.25s ease-in-out;
    padding: 1px 7px 3px 7px;
  }

  .comment-delete:hover, .comment-edit:hover {
    text-decoration: none;
    padding: 1px 20px 3px 20px;
    background-color: #f8e8c9;
  }
}



.comment-body-unauth {
  border-bottom-right-radius: 10px;
}

// .comment-body p {
//   margin: 5px;
// }



.comment-textarea {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.fa-comments{
  color: white!important;
}

.create-comment-footer {
  float: right;
  margin: 0px 0px 10px 0px;
}