.combo-contant {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: .3rem;
  outline: 0;
}


.nav-tabs .nav-link:first-of-type {
  border-left: none;
  border-top: none
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  border-color: none;
}

.nav-tabs .nav-link:first-of-type.active {
  border-top-left-radius: .5rem;
}

.combo-tab-link {
  width: 50%;
  padding: 15px;
}

.combo-tabs-box {
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  background-color:rgba(52, 58, 64, 0.1);
}