dialog:-internal-dialog-in-top-layer::backdrop {
  position: fixed;
  inset: 0px;
  background: rgba(0, 0, 0, 0.5);
}

.dialog {
  height: 100vh;
  border: 1px solid black;
  border-radius: 10px;

  .dialog-box {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    .image-box {
      height: 95%;
      width: 100%;
      flex: 1 1 auto;

      img {
        height: 100%;
        width: 100%;
      }
    }
  
    .text-box {
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      padding: 12px 2px 2px;
      
      p {
        font-size: 1.05rem;
        font-style: italic;
      }
  
      button {
        color: white;
        padding: 5px 10px;
        border-radius: 10px;
        background-color: grey;
        border-color: darkgrey;
      }
  
      button:hover {
        background-color: darkgrey;
      }
    }
  }
}