.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color:rgba(0, 0, 0, 0.45);
  z-index: 99;

  .modal {
    display: block;
    position: fixed;
    z-index: 100; 
    left: 50%;
    top: 50%;
    height: auto;
    width: auto;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border: 1px solid black;
    background-color: white;
    padding: 10px;
    border-radius: 10px;

    .image-box {
      img {
        max-height: 85vh;
        max-width: 85vw;
        object-fit: contain;
      }

      .text-box {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 12px 2px 2px;
        
        p {
          font-size: 1.05rem;
          font-style: italic;
        }
    
        button {
          color: white;
          padding: 5px 10px;
          border-radius: 10px;
          background-color: grey;
          border-color: darkgrey;
        }
    
        button:hover {
          background-color: darkgrey;
        }
      }
    }

    video {
      max-height: 85vh;
      max-width: 85vw;
      width: auto;
    }
  }
}