.rover {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 0px;
  column-gap: 20px;

  .left-box {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 20px;
    width: 30%;

    video {
      width: 100%;
      outline: 1px solid black;
      box-shadow: 2px 2px 5px grey;
      border-radius: 10px;
    }

    .info-box {
      border: 2px solid lightgrey;
      box-shadow: 2px 2px 5px grey;
      border-radius: 10px;
      padding: 15px;
      width: 100%;

      p {
        font-size: .85rem;
      }

      p:first-of-type {
        font-weight: 700;

        a {
          text-decoration: none;
        }
      }

      p:not(:last-child) {
        margin-bottom: 7px;
      }

      .complete {
        color: red;
        font-weight: 600;
      }

      .active {
        color: green;
        font-weight: 600;
        animation: blinker 2.5s linear infinite;
      }

      @keyframes blinker {
        50% { opacity: 0; }
      }
    }

    table {
      border-collapse: separate;
      border-spacing: 0;
      font-size: .75rem;
      width: 100%;
      border-radius: 10px;
      box-shadow: 2px 2px 5px grey;
      border: 1px solid black;

      thead {
        tr {
          line-height: .75rem;
          background-color: rgba(lightgrey, 0.65);
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;

          th {
            vertical-align: middle;
            padding: 5px;
          }

          th:first-of-type {
            border-top-left-radius: 10px;
            border-right: 1px solid grey;
          }

          th:last-of-type {
            border-top-right-radius: 10px;
          }
        }
      }

      tbody {
        tr {
          td {
            border-top: 1px solid grey;
            vertical-align: middle;
            padding: 5px 3px;
          }

          td:first-of-type {
            border-right: 1px solid grey;
          }
        }

        .inactive {
          background-color: rgba(red, 0.25);  

          td {
            cursor: not-allowed;
          }
        }

        .active {
          cursor: pointer;
        }

        .active:hover {
          background-color: rgba(green, 0.25);
        }
      }
    }
  }

  .right-box {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 20px;
    width: 70%;

    .search-box {
      display: flex;
      flex-flow: column;
      justify-content: flex-start;
      align-items: center;
      row-gap: 10px;
      width: 100%;
      border-radius: 15px;
      box-shadow: 2px 2px 5px grey;
      outline: 1px solid darkgrey;

      .search-title {
        text-align: center;
        padding: 10px 40px;
        color: white;
        font-size: 1.25rem;
        font-weight: 600;
        text-shadow: -1px -1px 0 grey, 1px -1px 0 grey, -1px 1px 0 grey, 1px 1px 0 grey;
        background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        width: 100%;
      }
  
      .search-dates {
        width: 90%;
        display: flex;
        padding: 10px 5px;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;
        column-gap: 25px;
  
        .earth-date, .sol-number {
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: flex-start;
          row-gap: 10px;
          border: 1px solid grey;
          border-radius: 15px;
          padding: 15px;
          width: 100%;
  
          .earth-date-radio-box,
          .sol-number-radio-box {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            column-gap: 5px;
            width: 100%;
            padding: 0px 5px;
  
            .earth-date-label-box,
            .sol-number-label-box {
              display: flex;
              flex-flow: row nowrap;
              justify-content: flex-start;
              align-items: center;
              column-gap: 5px;
  
              input {
                margin-top: 2px;
              }
  
              label {
                font-size: 1rem;
                font-weight: 500;
                cursor: pointer;
              }
            }
  
            span {
              text-align: right;
              font-size: 0.85rem;
              font-style: italic;
            }
          }
  
          .earth-date-selector-box,
          .sol-number-selector-box {
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: flex-start;
            row-gap: 5px;
            width: 100%;
  
            .react-datepicker-wrapper,
            .react-datepicker__tab-loop, 
            .react-datepicker__input-container input, 
            .sol-number-selector-input {
              width: 100%;
              cursor: pointer;
            }
  
            p:first-of-type {
              font-weight: 500;
              padding-top: 10px;
            }
  
            p:last-of-type {
              font-style: italic;
            }
          }
        }
  
        .earth-date:hover, .sol-number:hover {
          border: 1px solid rgba($base-dark-color, 0.85);
          box-shadow: 1px 1px 2px rgba($base-dark-color, 0.85);
          cursor: pointer;
        }
      }
  
      .search-submit {
        width: 100%;
        text-align: center;
        padding: 0px 0px 25px 0px;
  
        button {
          color: white;
          width: 90%;
          padding-top: 10px;
          padding-bottom: 10px;
          border-radius: 20px;
          background-color: rgba($base-dark-color, 0.85);
          box-shadow: 2px 2px 5px grey;
          border: 1px solid lightgrey;
          transition: translateY .2s;
        }
  
        button:hover {
          background-color: rgba($base-dark-color, 0.8);
        }
  
        button:active {
          background-color: rgba($base-dark-color, 0.8);
          box-shadow: 1px 1px 2px grey;
          transform: translateY(2px);
        }
      }
    }

    .slideshow-box {
      width: 100%;
      border-radius: 15px;
      box-shadow: 2px 2px 5px grey;
      outline: 1px solid darkgrey;
      padding: 0px 20px 20px;

      .slideshow-wrapper {
        width: 100%;

        .slideshow-header {
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          align-items: center;
          padding: 10px 0px;
          width: 100%;

          p {
            color: lightgrey;
            font-size: 1.15rem;
            font-weight: 600;
            text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
          }

          button {
            padding: 5px 45px;
            border: 1px solid rgba(0, 0, 0, 0.5);
            background-color: rgba(grey, 0.30);
            text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
            font-weight: 900;
            color: white;
          }
      
          button:hover {
            background-color: rgba(grey, 0.40);
          }
      
          button:first-of-type {
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
          }
      
          button:last-of-type {
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
          }
        }

        .slideshow-content {
          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }

    .no-results-box {
      padding: 20px 20px 10px;
      text-align: center;
      color: rgb(255, 255, 175);
      font-size: 1.15rem;
      font-weight: 600;
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }
  }
}