.spinner-container {

  .spinner-wrap {
    position: absolute;
    top: 54%;
    left: 45%;
    height: 250px;
    width: 250px;
    transform: translate(-50%, -50%);

    .spinner {
      border: 35px solid #f3f3f3; 
      border-top: 35px solid #20538a; 
      border-radius: 50%;
      width: 100%;
      height: 100%;
      animation: spin 2s linear infinite;
    }
  }

  .spinning-wrap {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -25%);
    height: 55vh;

    .spinning {
      color: #20538a;
      display: flex;
      margin: 0 auto;
      font-size: 2rem;
      font-weight: 600;
    }
  }
}





@keyframes spin {
  0%   { transform:   rotate(0deg); }
  100% { transform: rotate(360deg); }
}