.video-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  border-bottom: 1px solid #CCCCCC;
  padding: 20px 0px;

  .video-image-wrapper {
    width: 40%;
    height: 200px;
    padding: 7px;
    border: 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    position: relative;

    .video-image-box {
      width: 100%;
      height: 100%;
    }

    .video-overlay {
      position: absolute;
      top: 50%; 
      left: 50%;
      transform: translate(-50%,-50%);
      width: 45px;
      height: 45px;
      z-index: 10;
    }
  }

  .video-image-wrapper:hover {
    box-shadow: 0px 0px 12px #20538a;
  }

  .video-text-box {
    width: 60%;
    flex: 0 1 auto;

    .title {
      font-size: 1.25rem;
      font-weight: 500;
      line-height: 1.2;
    }

    .date {
      font-size: 1.05rem;
      font-weight: 700;
      margin: 10px 0px;
      line-height: 1.2;
    }

    .description {
      margin-bottom: 10px;
    }

    .toggle-click {
      cursor: pointer;
      color: #007bff;
      font-weight: 500;
    }
    
    .toggle-click:hover {
      color: #0056b3;
    }
  }
}

.video-container:last-of-type {
  border-bottom: none;
}
