.home {
  section {
    background-color: white;
    border-radius: 7px;
    padding: 35px;
    width: 80vw;
  
    h1 {
      font-size: 2.5rem;
      font-weight: 800;
      color: rgba(black, 0.65);
      text-shadow: 0px 4px 3px rgba(black, 0.3), 0px 8px 13px rgba(black, 0.1), 0px 18px 23px rgba(black, 0.1);
    }
  
    .content-box {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      column-gap: 25px;
      padding: 10px 0px;

      img, iframe {
        border-radius: 20px;
        cursor: pointer;
      }
  
      img {
        min-width: 400px;
        max-height: 400px;
        max-width: 500px;
      }

      iframe {
        height: 350px;
        width: 500px;
      }
  
      .text-box {
        display: flex;
        flex-flow: column nowrap;
        padding: 0px 20px;
  
        h3, h6 {
          margin-bottom: .75rem;
        }
  
        h3 {
          font-size: 1.5rem;
          font-weight: 600;
        }
  
        h6 {
          font-size: 1rem;
          font-weight: 500;
          font-style: italic;
        }
  
        p {
          line-height: 1.5rem;
          font-size: 1.1rem;
        }
      }
    }
  }
}



// .daily-movie {
//   padding: 10px;
//   width: 100%;
//   height: 70%;
//   border-radius: 25px;
//   border: 0;
// }

// .daily-image:hover, .daily-movie:hover {
//   cursor: pointer;
// }

// .daily-description {
//   margin-right: 20px;
// }

// .modal-title {
//   font-size: 1rem;
//   margin-left: 10px;
//   margin-top: 1.25rem!important;
// }

// .modal-body {
//   padding-bottom: .5rem!important;
// }

// .modal-content {
//   border-radius: 10px;
// }

// .modal-content iframe {
//   margin: 0 auto;
//   display: block;
// }

// .video-modal-content {
//   border: 10px solid white!important;
// }

// .button-float-right {
//   float: right;
//   margin: 15px 0px .5rem 0px;
//   padding: 3px 6px;
//   border-radius: 10px;
// }