.rovers {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

  section {
    background-color: white;
    border-radius: 7px;
    padding: 35px;
    width: 80vw;
    height: fit-content;

  }
}