.techport {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  
  section {
    background-color: white;
    border-radius: 7px;
    padding: 40px;
    width: 80vw;
    height: fit-content;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    .techport-content-box {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: flex-start;
      column-gap: 20px;

      .techport-datepicker-wrapper {
        background-color: rgba(90, 166, 185, 0.7);
        box-shadow: 2px 2px 5px black;
        border: 1px solid grey;
        align-self: stretch;
        border-radius: 7px;
        padding: 20px;
        width: 25%;
        height: fit-content;

        .techport-datepicker-box {
          background-color: white;
          border: 1px solid black;
          border-radius: 7px;
          padding: 20px;
          height: 90px;

          .react-datepicker__input-container input {
            float: none;
            padding: 2px;
            font-weight: 500;
            font-size: 15px;
            width: 100%;
          }

          h2 {
            font-size: 15px;
            font-weight: 600;
            margin-bottom: 5px;
            color: rgba(252, 252, 210, 0.95);
            text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
          }
        }
      }

      .techport-info-box {
        box-shadow: 2px 2px 5px black;
        border: 1px solid black;
        border-radius: 7px;
        padding: 30px;
        width: 75%;

        .techport-info-bold {
          font-weight: 600;
        }

        p {
          font-size: 15px;
          margin-bottom: 10px;
          line-height: 16px;
        }

        p:last-of-type {
          margin-bottom: 0px;
        }
      }
    }

    hr {
      width: 100%;
      margin: 15px 0px;
    }

    .techport-results-box {

      .techport-results-title {
        font-size: 24px;
        font-weight: 800;
        color: rgba(black, 0.65);
      }

      .techport-results-list {
        margin-top: 20px;
        max-height: 500px;
        overflow-y: auto;
        padding-right: 6px;

        li:first-of-type {
          border-top-left-radius: 7px;
          border-top-right-radius: 7px;
          padding-top: 10px;
          border-top: 1px solid black;
        }

        li:last-of-type {
          border-bottom-left-radius: 7px;
          border-bottom-right-radius: 7px;
          padding-bottom: 12px;
          border-bottom: 1px solid black;
        }

        li {
          background-color: white;
          padding: 5px 10px;
          border-right: 1px solid black;
          border-left: 1px solid black;

          .techport-result {
            background-color: white;
            font-size: 15px;
            font-weight: 600;
            flex: 1 0 auto;
            border: 1px solid black;
            box-shadow: 2px 2px 5px black;
            transition: translateY .2s;
            width: 100%;
          }
  
          .techport-result:hover {
            background-color: rgba(140, 200, 215, 0.45);
            text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
          }
  
          .techport-result:active {
            transform: translateY(2px);
          }
        }
      }
    }
  }
}