.user {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  
  .user-header, .user-posts, .user-comments {
    border-radius: 7px;
    width: 80vw;
    height: fit-content;
  }

  .user-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    
    .user-header-info {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      column-gap: 40px;
      background-color: lightblue;
      border: 2px solid pink;
      border-radius: 7px;
      padding: 25px 40px;
      width: 99%;
      box-shadow: 
        rgba(240, 46, 170, 0.4) 5px 5px, 
        rgba(240, 46, 170, 0.3) 10px 10px, 
        rgba(240, 46, 170, 0.2) 15px 15px, 
        rgba(240, 46, 170, 0.1) 20px 20px, 
        rgba(240, 46, 170, 0.05) 25px 25px;

      .user-gravatar {
        border: 2px double yellow;
        border-radius: 25%;
        width: 210px;
        height: auto;
      }

      .user-header-text {
        width: 100%;

        p {
          width: 100%;
          padding: 3px;
          border: 1px solid lightgrey;
          border-radius: 7px;
          margin-bottom: 5px;
          background-color: white;
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          align-items: center;
  
          .user-header-attribute {
            font-size: 14px;
            font-weight: 700;
          }
  
          .user-header-value {
            font-size: 13px;
            font-weight: 500;
          }
        }
      }
    }
  }

  .user-posts, .user-comments {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    .user-posts-title, .user-comments-title {
      font-size: 38px;
      font-weight: 700;
      color: white;
      background-color: #666666;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text;
      text-shadow: rgba(255,255,255,0.5) 2px 5px 0px;
      padding: 0px 0px 20px 0px;
    }
  }

  .user-posts {
    padding: 55px 0px 30px 0px;

    .user-posts-wrapper {
      border-radius: 7px;
      padding: 20px 40px;
      width: 100%;
      box-shadow: 2px 2px 5px grey;
      background-color: white;

      .user-posts-no-posts {
        font-size: 14px;
        font-style: italic;
      }
    }
  }

  .user-comments {

    .user-comments-wrapper {
      border-radius: 7px;
      padding: 20px 40px;
      width: 100%;
      box-shadow: 2px 2px 5px grey;
      background-color: white;

      .user-comment-post-title {
        font-size: 14px;
        font-weight: 600;
        border-bottom: 1px solid grey;
        padding-bottom: 5px;
      }

      .user-comments-no-comments {
        font-size: 14px;
        font-style: italic;
      }
    }
  }
}
