.user {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  
  .user-header, .user-posts, .user-comments {
    border-radius: 7px;
    width: 80vw;
    height: fit-content;
  }

  .user-header {
    background-color: white;
    padding: 40px;

    .user-title-hr {
      margin-top: .5rem;
    }
    
    .user-title-row {
      padding-left: 40px;
    }
    
    .user-gravatar {
      border: 2px double #343a40;
      box-shadow: 2px 2px 4px #cccccc;
      border-radius: 50%;
      height: 45px;
      width: auto;
      margin-right: 15px;
    }
  }


  .user-posts, .user-comments {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    .user-posts-title, .user-comments-title {
      font-size: 38px;
      font-weight: 700;
      color: white;
      background-color: #666666;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text;
      text-shadow: rgba(255,255,255,0.5) 2px 5px 0px;
      padding: 0px 0px 20px 0px;
    }
  }

  .user-posts {
    padding: 35px 0px 10px 0px;
  }

  .user-comments {

    .user-comments-wrapper {
      border-radius: 7px;
      padding: 20px 40px;
      width: 100%;
      box-shadow: 2px 2px 5px grey;
      background-color: white;
    }
  }
}
