a {
  width: 100%;
  text-decoration: none;

  .header-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    background-image: url("../assets/img/astrollaneous_banner.jpg");
    background-size: cover;
    height: 15vh;
  
    img {
      width: 120px;
    }

    .header-text-box-title {
      color: rgba(0, 93, 255, 0.95);
      font-size: 44px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      letter-spacing: 0.5rem;
      text-shadow: 1px 1px hsl(75, 50%, 45%),
      2px 2px hsl(75, 50%, 40%),
      3px 3px hsl(75, 50%, 35%),
      4px 4px hsl(75, 50%, 34%),
      5px 5px hsl(75, 50%, 33%),
      10px 10px 30px rgba(0,0,0,.7);
    }

    .header-text-box-subtitle {
      color: orange;
      font-size: 26px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      letter-spacing: 0.155rem;
      text-shadow: 1px 1px hsl(40, 50%, 45%),
      2px 2px hsl(40, 50%, 40%),
      3px 3px hsl(40, 50%, 35%),
      4px 4px hsl(40, 50%, 34%),
      5px 5px hsl(40, 50%, 33%),
      // 10px 10px 30px rgba(0,0,0,.7),
    }
  }
}