.nav {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  column-gap: 25px;
  font-family: inherit;
  background-color: rgba(211, 211, 211, 0.15);
  border-top: 3px solid darkgrey;
  border-bottom: 3px solid darkgrey;

  .navlink {
    text-decoration: none;
    font-weight: 800;
    color: #20538a;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 45px;
    padding: 0px 10px;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    transition: all .1s ease-in-out;
  }

  .navlink:hover {
    background-color: rgba($base-dark-color, 0.65);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: white;
  }

  .navlink.active {
    background-color: rgba($base-dark-color, 0.9);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: white;
  }

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid grey;
    border-radius: 5px;
    height: 30px;

    input {
      border: none;
      height: 25px;
      padding: 0px 10px 1px 10px;
      font-size: 0.875rem;
      border-radius: var(--bs-border-radius-sm);
    }

    input:focus-visible {
      outline: none;
    }

    button {
      border-top: none;
      border-bottom: none;
      border-right: none;
      border-left: 2px solid grey;
      border-radius: 0px;
      padding-bottom: 5px;
      font-weight: 600;
    }
  }

  .dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    img {
      height: 20px;
      width: 20px;
      cursor: pointer;
      transition: all 0.25s ease-in-out;
    }

    img:hover {
      border-radius: 50%;
      box-shadow: 0px 0px 12px #20538a;
    }

    .dropdown-list {
      border-radius: 5px;
      background-color: white;
      border: 1px solid darkgrey;
      position: absolute;
      top: 29px;
      left: 0;      
      width: 110px;
      z-index: 10;   

      .dropdown-list-item {
        text-decoration: none;
        font-size: 0.9rem;
        font-weight: 400;
        cursor: pointer;
        color: #20538a;
        padding: 10px;
      }

      .dropdown-list-item:hover {
        background-color: rgba(211, 211, 211, 0.55);
        font-weight: 700;
      }
    }

    select:focus-visible {
      outline: none;
    }
  }
}

